<aside>
  <div
    style="
      margin-top: 46px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin-bottom: 46px;
    "
  >
    <div>
      <div style="margin-bottom: 64px">
        <fin-logo></fin-logo>
      </div>
      <div>
        <fin-aside-group-menu></fin-aside-group-menu>
      </div>
    </div>

    <div>
      <fin-fab-button
        icon="add"
        color="primary"
        shape="chat"
        size="large"
      ></fin-fab-button>
    </div>
  </div>
</aside>
